/.aws
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.local
/.profile
/.ssh
/.sudo_as_admin_successful
/.vscode-server
/.wget-hsts
/customer_churn_youtube_venv
/ec2_customer_chum_venv
/youtube-LEARNING
/youtube-learning